In [252]:
import numpy as np
import pandas as pd
import datetime as dt

movies_df = pd.read_csv('movies_2.csv')
movies_df.head()

print('hello')

,MovieID,Title,MPAA Rating,Budget,Gross,Release Date,Genre,Runtime,Rating,Rating Count,Summary
0,1,Look Who's Talking,PG-13,7500000.0,296000000.0,1989-10-12,Romance,93.0,5.9,73638.0,"After a single, career-minded woman is left on..."
1,2,Driving Miss Daisy,PG,7500000.0,145793296.0,1989-12-13,Comedy,99.0,7.4,91075.0,An old Jewish woman and her African-American c...
2,3,Turner & Hooch,PG,13000000.0,71079915.0,1989-07-28,Crime,100.0,7.2,91415.0,"Det. Scott Turner (Tom Hanks) is an uptight, b..."
3,4,Born on the Fourth of July,R,14000000.0,161001698.0,1989-12-20,War,145.0,7.2,91415.0,The biography of Ron Kovic. Paralyzed in the V...
4,5,Field of Dreams,PG,15000000.0,84431625.0,1989-04-21,Drama,107.0,7.5,101702.0,"An Iowa corn farmer, hearing voices, interpret..."

In [253]:
movies_df.shape # (rows, cols)

(616, 11)

In [254]:
movies_df.describe()

,MovieID,Budget,Gross,Runtime,Rating,Rating Count
count,616.000000,6.150000e+02,6.150000e+02,615.000000,508.000000,5.080000e+02
mean,307.500000,9.491710e+07,4.453221e+08,118.642276,6.917323,3.392521e+05
std,177.968162,6.748114e+07,3.394075e+08,22.252376,0.888928,3.213388e+05
min,0.000000,6.000000e+04,5.300000e+07,79.000000,4.100000,1.491800e+04
25%,153.750000,4.000000e+07,2.158939e+08,102.000000,6.400000,1.275922e+05
50%,307.500000,8.000000e+07,3.510404e+08,117.000000,6.900000,2.403475e+05
75%,461.250000,1.400000e+08,5.851766e+08,132.000000,7.600000,4.257000e+05
max,615.000000,4.000000e+08,2.796000e+09,201.000000,9.000000,2.127228e+06

In [255]:
col_names = list(movies_df.columns)
col_names

['MovieID',
 'Title',
 'MPAA Rating',
 'Budget',
 'Gross',
 'Release Date',
 'Genre',
 'Runtime',
 'Rating',
 'Rating Count',
 'Summary']

In [256]:
isna_dict = {col_name:movies_df[col_name].isna().sum() for col_name in col_names}   # dictionary with number of missing values per column
isna_dict

{'MovieID': 0,
 'Title': 1,
 'MPAA Rating': 1,
 'Budget': 1,
 'Gross': 1,
 'Release Date': 1,
 'Genre': 1,
 'Runtime': 1,
 'Rating': 108,
 'Rating Count': 108,
 'Summary': 120}

In [257]:
movies_df.head()

,MovieID,Title,MPAA Rating,Budget,Gross,Release Date,Genre,Runtime,Rating,Rating Count,Summary
0,1,Look Who's Talking,PG-13,7500000.0,296000000.0,1989-10-12,Romance,93.0,5.9,73638.0,"After a single, career-minded woman is left on..."
1,2,Driving Miss Daisy,PG,7500000.0,145793296.0,1989-12-13,Comedy,99.0,7.4,91075.0,An old Jewish woman and her African-American c...
2,3,Turner & Hooch,PG,13000000.0,71079915.0,1989-07-28,Crime,100.0,7.2,91415.0,"Det. Scott Turner (Tom Hanks) is an uptight, b..."
3,4,Born on the Fourth of July,R,14000000.0,161001698.0,1989-12-20,War,145.0,7.2,91415.0,The biography of Ron Kovic. Paralyzed in the V...
4,5,Field of Dreams,PG,15000000.0,84431625.0,1989-04-21,Drama,107.0,7.5,101702.0,"An Iowa corn farmer, hearing voices, interpret..."

In [258]:
movies_df = movies_df.drop(columns = ['Summary'])

In [259]:
movies_df

,MovieID,Title,MPAA Rating,Budget,Gross,Release Date,Genre,Runtime,Rating,Rating Count
0,1,Look Who's Talking,PG-13,7500000.0,2.960000e+08,1989-10-12,Romance,93.0,5.9,73638.0
1,2,Driving Miss Daisy,PG,7500000.0,1.457933e+08,1989-12-13,Comedy,99.0,7.4,91075.0
2,3,Turner & Hooch,PG,13000000.0,7.107992e+07,1989-07-28,Crime,100.0,7.2,91415.0
3,4,Born on the Fourth of July,R,14000000.0,1.610017e+08,1989-12-20,War,145.0,7.2,91415.0
4,5,Field of Dreams,PG,15000000.0,8.443162e+07,1989-04-21,Drama,107.0,7.5,101702.0
...,...,...,...,...,...,...,...,...,...,...
611,612,Toy Story 4,G,200000000.0,1.062000e+09,2019-06-11,Animation,100.0,NaN,NaN
612,613,Fast & Furious Presents: Hobbs & Shaw,PG-13,200000000.0,7.594000e+08,2019-07-13,Thriller,136.0,NaN,NaN
613,614,The Lion King,PG,250000000.0,1.632000e+09,2019-07-09,Drama,118.0,NaN,NaN
614,615,Avengers: Endgame,PG-13,356000000.0,2.796000e+09,2019-04-22,Action,181.0,NaN,NaN
615,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [260]:
movies_df.shape

(616, 10)

In [261]:
movies_df.drop_duplicates()

,MovieID,Title,MPAA Rating,Budget,Gross,Release Date,Genre,Runtime,Rating,Rating Count
0,1,Look Who's Talking,PG-13,7500000.0,2.960000e+08,1989-10-12,Romance,93.0,5.9,73638.0
1,2,Driving Miss Daisy,PG,7500000.0,1.457933e+08,1989-12-13,Comedy,99.0,7.4,91075.0
2,3,Turner & Hooch,PG,13000000.0,7.107992e+07,1989-07-28,Crime,100.0,7.2,91415.0
3,4,Born on the Fourth of July,R,14000000.0,1.610017e+08,1989-12-20,War,145.0,7.2,91415.0
4,5,Field of Dreams,PG,15000000.0,8.443162e+07,1989-04-21,Drama,107.0,7.5,101702.0
...,...,...,...,...,...,...,...,...,...,...
611,612,Toy Story 4,G,200000000.0,1.062000e+09,2019-06-11,Animation,100.0,NaN,NaN
612,613,Fast & Furious Presents: Hobbs & Shaw,PG-13,200000000.0,7.594000e+08,2019-07-13,Thriller,136.0,NaN,NaN
613,614,The Lion King,PG,250000000.0,1.632000e+09,2019-07-09,Drama,118.0,NaN,NaN
614,615,Avengers: Endgame,PG-13,356000000.0,2.796000e+09,2019-04-22,Action,181.0,NaN,NaN
615,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [262]:
movies_df.shape

(616, 10)

In [263]:
movies_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 616 entries, 0 to 615
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   MovieID       616 non-null    int64
 1   Title         615 non-null    object
 2   MPAA Rating   615 non-null    object
 3   Budget        615 non-null    float64
 4   Gross         615 non-null    float64
 5   Release Date  615 non-null    object
 6   Genre         615 non-null    object
 7   Runtime       615 non-null    float64
 8   Rating        508 non-null    float64
 9   Rating Count  508 non-null    float64
dtypes: float64(5), int64(1), object(4)
memory usage: 48.2+ KB

In [264]:
movies_df['Budget'].astype('float64')
movies_df['Gross'].astype('float64')

0      2.960000e+08
1      1.457933e+08
2      7.107992e+07
3      1.610017e+08
4      8.443162e+07
           ...
611    1.062000e+09
612    7.594000e+08
613    1.632000e+09
614    2.796000e+09
615             NaN
Name: Gross, Length: 616, dtype: float64

In [265]:
movies_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 616 entries, 0 to 615
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   MovieID       616 non-null    int64
 1   Title         615 non-null    object
 2   MPAA Rating   615 non-null    object
 3   Budget        615 non-null    float64
 4   Gross         615 non-null    float64
 5   Release Date  615 non-null    object
 6   Genre         615 non-null    object
 7   Runtime       615 non-null    float64
 8   Rating        508 non-null    float64
 9   Rating Count  508 non-null    float64
dtypes: float64(5), int64(1), object(4)
memory usage: 48.2+ KB

In [266]:
movies_df.head()

,MovieID,Title,MPAA Rating,Budget,Gross,Release Date,Genre,Runtime,Rating,Rating Count
0,1,Look Who's Talking,PG-13,7500000.0,296000000.0,1989-10-12,Romance,93.0,5.9,73638.0
1,2,Driving Miss Daisy,PG,7500000.0,145793296.0,1989-12-13,Comedy,99.0,7.4,91075.0
2,3,Turner & Hooch,PG,13000000.0,71079915.0,1989-07-28,Crime,100.0,7.2,91415.0
3,4,Born on the Fourth of July,R,14000000.0,161001698.0,1989-12-20,War,145.0,7.2,91415.0
4,5,Field of Dreams,PG,15000000.0,84431625.0,1989-04-21,Drama,107.0,7.5,101702.0

In [267]:
movies_df.rename(columns=lambda x: x.replace(' ', '_').lower(), inplace=True)

In [268]:
movies_df

,movieid,title,mpaa_rating,budget,gross,release_date,genre,runtime,rating,rating_count
0,1,Look Who's Talking,PG-13,7500000.0,2.960000e+08,1989-10-12,Romance,93.0,5.9,73638.0
1,2,Driving Miss Daisy,PG,7500000.0,1.457933e+08,1989-12-13,Comedy,99.0,7.4,91075.0
2,3,Turner & Hooch,PG,13000000.0,7.107992e+07,1989-07-28,Crime,100.0,7.2,91415.0
3,4,Born on the Fourth of July,R,14000000.0,1.610017e+08,1989-12-20,War,145.0,7.2,91415.0
4,5,Field of Dreams,PG,15000000.0,8.443162e+07,1989-04-21,Drama,107.0,7.5,101702.0
...,...,...,...,...,...,...,...,...,...,...
611,612,Toy Story 4,G,200000000.0,1.062000e+09,2019-06-11,Animation,100.0,NaN,NaN
612,613,Fast & Furious Presents: Hobbs & Shaw,PG-13,200000000.0,7.594000e+08,2019-07-13,Thriller,136.0,NaN,NaN
613,614,The Lion King,PG,250000000.0,1.632000e+09,2019-07-09,Drama,118.0,NaN,NaN
614,615,Avengers: Endgame,PG-13,356000000.0,2.796000e+09,2019-04-22,Action,181.0,NaN,NaN
615,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [269]:
movies_df.tail()

,movieid,title,mpaa_rating,budget,gross,release_date,genre,runtime,rating,rating_count
611,612,Toy Story 4,G,200000000.0,1.062000e+09,2019-06-11,Animation,100.0,NaN,NaN
612,613,Fast & Furious Presents: Hobbs & Shaw,PG-13,200000000.0,7.594000e+08,2019-07-13,Thriller,136.0,NaN,NaN
613,614,The Lion King,PG,250000000.0,1.632000e+09,2019-07-09,Drama,118.0,NaN,NaN
614,615,Avengers: Endgame,PG-13,356000000.0,2.796000e+09,2019-04-22,Action,181.0,NaN,NaN
615,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [270]:
movies_df = movies_df.drop(index = 615)

In [271]:
movies_df.tail()

,movieid,title,mpaa_rating,budget,gross,release_date,genre,runtime,rating,rating_count
610,611,Godzilla: King of the Monsters,PG-13,200000000.0,3.859000e+08,2019-05-13,Adventure,132.0,NaN,NaN
611,612,Toy Story 4,G,200000000.0,1.062000e+09,2019-06-11,Animation,100.0,NaN,NaN
612,613,Fast & Furious Presents: Hobbs & Shaw,PG-13,200000000.0,7.594000e+08,2019-07-13,Thriller,136.0,NaN,NaN
613,614,The Lion King,PG,250000000.0,1.632000e+09,2019-07-09,Drama,118.0,NaN,NaN
614,615,Avengers: Endgame,PG-13,356000000.0,2.796000e+09,2019-04-22,Action,181.0,NaN,NaN

In [272]:
movies_df['rating'].isna().sum()

107

In [273]:
movies_df['rating'] = movies_df['rating'].fillna(value = movies_df['rating'].median())

In [274]:
movies_df['rating'].isna().sum()

0

In [275]:
movies_df['rating_count'].isna().sum()

107

In [276]:
movies_df['rating_count'] = movies_df['rating_count'].fillna(value = movies_df['rating_count'].median())

In [277]:
movies_df['rating_count'].isna().sum()

0

In [278]:
# movies with more than 7 in Rating & greater than 50 million Gross

bool1 = (movies_df['rating']>7) & (movies_df['gross']>50000000)
movies_df[bool1]

,movieid,title,mpaa_rating,budget,gross,release_date,genre,runtime,rating,rating_count
1,2,Driving Miss Daisy,PG,7500000.0,145793296.0,1989-12-13,Comedy,99.0,7.4,91075.0
2,3,Turner & Hooch,PG,13000000.0,71079915.0,1989-07-28,Crime,100.0,7.2,91415.0
3,4,Born on the Fourth of July,R,14000000.0,161001698.0,1989-12-20,War,145.0,7.2,91415.0
4,5,Field of Dreams,PG,15000000.0,84431625.0,1989-04-21,Drama,107.0,7.5,101702.0
6,7,When Harry Met Sally...,R,16000000.0,92800000.0,1989-07-21,Romance,96.0,7.6,180871.0
...,...,...,...,...,...,...,...,...,...,...
505,506,Big Hero 6,PG,165000000.0,652105443.0,2014-10-24,Animation,102.0,7.8,380953.0
506,507,Interstellar,PG-13,165000000.0,675120017.0,2014-11-05,Science Fiction,169.0,8.6,1343549.0
507,508,Captain America: The Winter Soldier,PG-13,170000000.0,714766572.0,2014-03-20,Action,136.0,7.7,685903.0
508,509,Dawn of the Planet of the Apes,PG-13,170000000.0,710644566.0,2014-06-26,Science Fiction,130.0,7.6,395425.0
509,510,Guardians of the Galaxy,PG-13,170000000.0,773328629.0,2014-07-30,Action,121.0,8.0,978222.0

In [279]:
# movies with more than 7 in Rating & greater than 50 million Gross & with Parental guidance as MPAA Rating

bool2 = bool1 & (movies_df['mpaa_rating'] == 'PG')
movies_df[bool2].head()

,movieid,title,mpaa_rating,budget,gross,release_date,genre,runtime,rating,rating_count
1,2,Driving Miss Daisy,PG,7500000.0,145793296.0,1989-12-13,Comedy,99.0,7.4,91075.0
2,3,Turner & Hooch,PG,13000000.0,71079915.0,1989-07-28,Crime,100.0,7.2,91415.0
4,5,Field of Dreams,PG,15000000.0,84431625.0,1989-04-21,Drama,107.0,7.5,101702.0
7,8,Dead Poets Society,PG,16400000.0,235860116.0,1989-06-02,Drama,129.0,8.1,382002.0
13,14,Batman,PG,35000000.0,411348924.0,1989-06-23,Action,126.0,7.5,319517.0

In [280]:
# count of Animation movies with more than 7 in Rating 
bool3 = (movies_df['genre']=='Animation') & (movies_df['rating']>7)
movies_df[bool3].shape          # so 39 movies

(39, 10)

In [281]:
# show the list of top 5 movies based on Budget
movies_df.sort_values(by='budget', ascending=False).head()

,movieid,title,mpaa_rating,budget,gross,release_date,genre,runtime,rating,rating_count
594,595,Avengers: Infinity War,PG-13,400000000.0,2.048000e+09,2018-04-23,Action,149.0,6.9,240347.5
454,455,Pirates of the Caribbean: On Stranger Tides,PG-13,380000000.0,1.045714e+09,2011-05-14,Action,136.0,6.6,455211.0
614,615,Avengers: Endgame,PG-13,356000000.0,2.796000e+09,2019-04-22,Action,181.0,6.9,240347.5
574,575,Star Wars: The Last Jedi,PG-13,317000000.0,1.333000e+09,2019-12-09,Science Fiction,152.0,6.9,240347.5
375,376,Pirates of the Caribbean: At World's End,PG-13,300000000.0,9.610000e+08,2007-05-19,Adventure,169.0,7.1,565402.0

In [282]:
#show the top 5 Comedy movies by Rating
bool4 = (movies_df['genre']=='Comedy') 
movies_df[bool4].sort_values(by='rating', ascending=False).head()

,movieid,title,mpaa_rating,budget,gross,release_date,genre,runtime,rating,rating_count
111,112,Forrest Gump,PG-13,55000000.0,677945399.0,1994-07-06,Comedy,142.0,8.8,1657851.0
185,186,The Truman Show,PG,60000000.0,264118201.0,1998-06-04,Comedy,103.0,8.1,859224.0
254,255,"Monsters, Inc.",G,115000000.0,562816256.0,2001-11-01,Comedy,92.0,8.0,758349.0
80,81,Groundhog Day,PG,14600000.0,70906973.0,1993-02-11,Comedy,101.0,8.0,549538.0
164,165,As Good as It Gets,PG-13,50000000.0,314178011.0,1997-12-19,Comedy,139.0,7.7,258974.0

In [283]:
# top 5 movie names by Rating
movies_df.sort_values(by = 'rating', ascending = False).head()

,movieid,title,mpaa_rating,budget,gross,release_date,genre,runtime,rating,rating_count
393,394,The Dark Knight,PG-13,185000000.0,1.004558e+09,2008-07-16,Action,152.0,9.0,2127228.0
83,84,Schindler's List,R,22000000.0,3.213656e+08,1993-11-29,History,195.0,8.9,1117322.0
287,288,The Lord of the Rings: The Return of the King,PG-13,94000000.0,1.118889e+09,2003-12-01,Fantasy,201.0,8.9,1529953.0
99,100,Pulp Fiction,R,8000000.0,2.139288e+08,1994-09-10,Thriller,154.0,8.9,1690474.0
98,99,Jurassic Park III,PG-13,93000000.0,3.688000e+08,2001-07-16,Thriller,92.0,8.9,1690474.0

In [284]:
movies_df['release_date']

0      1989-10-12
1      1989-12-13
2      1989-07-28
3      1989-12-20
4      1989-04-21
          ...
610    2019-05-13
611    2019-06-11
612    2019-07-13
613    2019-07-09
614    2019-04-22
Name: release_date, Length: 615, dtype: object

In [288]:
#top 3 high Gross Romance movies released after 1999, not included (typecast it to datetime)
movies_df['release_date'] = pd.to_datetime(movies_df['release_date'])   #convert release_date column into datetime format

In [290]:
movies_df ['release_year'] = movies_df['release_date'].dt.year

In [291]:
movies_df.head()

,movieid,title,mpaa_rating,budget,gross,release_date,genre,runtime,rating,rating_count,release_year
0,1,Look Who's Talking,PG-13,7500000.0,296000000.0,1989-10-12,Romance,93.0,5.9,73638.0,1989
1,2,Driving Miss Daisy,PG,7500000.0,145793296.0,1989-12-13,Comedy,99.0,7.4,91075.0,1989
2,3,Turner & Hooch,PG,13000000.0,71079915.0,1989-07-28,Crime,100.0,7.2,91415.0,1989
3,4,Born on the Fourth of July,R,14000000.0,161001698.0,1989-12-20,War,145.0,7.2,91415.0,1989
4,5,Field of Dreams,PG,15000000.0,84431625.0,1989-04-21,Drama,107.0,7.5,101702.0,1989

In [293]:
bool5 = (movies_df['genre'] == 'Romance') & (movies_df['release_year']> 1999)
movies_df[bool5].sort_values(by='gross', ascending = False).head()

,movieid,title,mpaa_rating,budget,gross,release_date,genre,runtime,rating,rating_count,release_year
464,465,The Twilight Saga: Breaking Dawn - Part 2,PG-13,120000000.0,829000000.0,2012-11-13,Romance,115.0,5.5,218357.0,2012
442,443,The Twilight Saga: Breaking Dawn - Part 1,PG-13,110000000.0,712171856.0,2011-03-15,Romance,117.0,4.9,211592.0,2011
401,402,The Twilight Saga: New Moon,PG-13,50000000.0,709827462.0,2009-03-15,Romance,130.0,4.7,252223.0,2009
419,420,The Twilight Saga: Eclipse,PG-13,68000000.0,698491347.0,2010-06-23,Romance,124.0,5.0,215110.0,2010
379,380,Mamma Mia!,PG-13,52000000.0,609841637.0,2008-07-03,Romance,108.0,6.4,198801.0,2008

In [294]:
#how many Genres are present in the dataframe?

movies_df['genre'].value_counts()

Action             110
Comedy              99
Animation           87
Drama               66
Thriller            41
Science Fiction     37
Adventure           30
Family              29
Romance             28
Fantasy             27
Crime               17
Horror              14
Mystery             11
War                  9
Western              6
History              4
Name: genre, dtype: int64

In [295]:
movies_df['genre'].nunique()        # quicker method for counting unique values

16

In [296]:
#top 5 expensive movies released after 1999, not included (measured by Budget)
bool6 = (movies_df['release_year']>1999) 
movies_df[bool6].sort_values(by = 'budget', ascending = False).head()

,movieid,title,mpaa_rating,budget,gross,release_date,genre,runtime,rating,rating_count,release_year
594,595,Avengers: Infinity War,PG-13,400000000.0,2.048000e+09,2018-04-23,Action,149.0,6.9,240347.5,2018
454,455,Pirates of the Caribbean: On Stranger Tides,PG-13,380000000.0,1.045714e+09,2011-05-14,Action,136.0,6.6,455211.0,2011
614,615,Avengers: Endgame,PG-13,356000000.0,2.796000e+09,2019-04-22,Action,181.0,6.9,240347.5,2019
574,575,Star Wars: The Last Jedi,PG-13,317000000.0,1.333000e+09,2019-12-09,Science Fiction,152.0,6.9,240347.5,2019
573,574,Justice League,PG-13,300000000.0,6.579000e+08,2017-11-15,Action,120.0,6.9,240347.5,2017

In [298]:
# most & least frequent MPAA Rating in the dataset in terms of occurances

movies_df['mpaa_rating'].value_counts()     # most: PG-13; least: G

PG-13    285
PG       161
R        142
G         27
Name: mpaa_rating, dtype: int64

In [305]:
# most and least expensive Genre (take an average of all Budget measures grouped by Genre - use groupBy() method)

movies_df.groupby(['genre']).mean()[['budget']].sort_values(by = 'budget', ascending = False)   # most = Fantasy, least = Horror

                       budget
genre
Fantasy          1.612111e+08
Action           1.441682e+08
Adventure        1.338333e+08
Science Fiction  1.267838e+08
Animation        1.158793e+08
Mystery          1.035455e+08
War              9.075556e+07
Thriller         8.658537e+07
Western          7.983333e+07
Family           6.268966e+07
Crime            5.658824e+07
Drama            5.592576e+07
History          5.550000e+07
Comedy           4.957727e+07
Romance          4.540020e+07
Horror           3.700429e+07

In [310]:
# which Genre is favored the most by the people?

# If you judge by rating: 
movies_df.groupby('genre').mean()[['rating']].sort_values('rating', ascending = False)

                   rating
genre
History          7.625000
War              7.355556
Fantasy          7.337037
Western          7.333333
Drama            7.193939
Science Fiction  7.151351
Animation        7.110345
Thriller         6.995122
Action           6.985455
Crime            6.876471
Mystery          6.827273
Horror           6.735714
Adventure        6.696667
Comedy           6.631313
Romance          6.400000
Family           6.117241

In [311]:
# If you judge by ticket sales: 
movies_df.groupby('genre').mean()[['gross']].sort_values('gross', ascending = False)

                        gross
genre
Fantasy          7.926055e+08
Action           6.245491e+08
Adventure        5.864940e+08
Animation        5.617414e+08
Science Fiction  5.252451e+08
Thriller         3.963394e+08
War              3.903759e+08
Romance          3.841570e+08
Mystery          3.725879e+08
Western          3.360111e+08
Drama            2.989364e+08
Family           2.920609e+08
History          2.753178e+08
Horror           2.724708e+08
Comedy           2.447957e+08
Crime            2.286779e+08